{% extends 'base.html' %}

{% load static %}

{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'project3/style.css' %}">
{% endblock %}

{% block content %}
<div class="box">
    <div id="loading" style="
    background-color: #a8aaaad9;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
">
    <span id="loading-msg">Decision Tree creation in progress<span id="dot-animation">.</span></span>
</div>
    <div class="title-container">
        <div class="title-text">
            <h1>Human Centric</h1>
            <h2>Artificial Intelligence</h2>
        </div>
        <!-- Reuse your images -->
        <div id="image1">
            <img src="{% static 'images/image-1.png' %}" alt="img1" style="width: 15vw;">
        </div>
        <div id="nn-gif">
            <img src="{% static 'images/NN2.gif' %}" alt="Neural Network GIF" style="width: 150px;">
        </div>
    </div>
    <div class="main-text">
        <h2>Project 3</h2>
        <div class="section-heading">Penguin Decision Tree Classifier</div>

    {% if not accuracy %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="upload-btn" id="fit-dc-tree">Train Regular Decision Tree on Penguins Dataset</button>
    </form>
    <script>
        sessionStorage.removeItem('modelTrained');
        document.getElementById("train-first-overlay").style.display = 'flex';
    </script>
    {% endif %}

    {% if accuracy %}
    <div class="center">
        <img class="dc-tree" src="{{ tree_image }}" alt="Decision Tree">
        <div class="row">
            <div class="section-heading">Accuracy: {{ accuracy }}</div>
            <div class="section-heading">Number of Leaves: {{ num_leaves }}</div>
        </div>
    </div>
    <script>
        document.getElementById("train-first-overlay").style.display = 'none';
    </script>
    {% endif %}
    <div class="section-heading">Sparse Decision Tree</div>
    <form method="post" action="{% url 'project3:index' %}">
  {% csrf_token %}
  <div class="center">
    <label for="lambda">Adjust Model's Sparsity (λ):
    <br>
    <span class="info">Higher λ means fewer features used</span>
    </label>
    <div style="margin-top: 20px; display: flex; align-items: center; gap: 10px;">
  <span>0.001</span>
  <input type="range" name="lambda" id="lambda" style="width: 25vw;" min="0.001" max="1" step="0.001"
         value="{{ lambda_value|default:0.5 }}" oninput='document.getElementById("lambdaValue").value = this.value'>
  <span>1</span>
  </div>
  <output id="lambdaValue">{{ lambda_value|default:0.5 }}</output>

  <div style="margin-top: 20px;">
      <label for="time_limit">Time Limit for training Sparse Decision Tree (seconds):</label>
      <input type="number" name="time_limit" min="1" max="600" step="1"
             value="{{ time_limit|default:60 }}" style="width: 60px;">
    </div>
  </div>
  <br>
  <button type="submit" name="model_type" value="sparse" class="upload-btn" id="fit-sp-tree">Train Sparse Decision Tree</button>
</form>

<div class="alert">
    {% if gosdt_error %}
            <p>Training failed with λ={{ lambda_value }}. Try a smaller λ value</p>
    {% endif %}
</div>

    {% if sparse_dc_accuracy %}
    <div class="center">
    <img class="dc-tree" id="sp-tree" src="{{ sp_tree_image }}" alt="Sparse Decision Tree">
    <div class="row">
        <div class="section-heading vw20">λ Value: {{ lambda_value }}</div>
        <div class="section-heading vw20">Training Time (s): {{ sp_training_time }}</div>
        <div class="section-heading vw20">Number of Iterations: {{ sp_iterations }}</div>
    </div>
    <div class="row">
        <div class="section-heading vw20">Sparse DC Accuracy: {{ sparse_dc_accuracy }}</div>
        <div class="section-heading vw20">Number of Leaves: {{ sp_num_leaves }}</div>
        <div class="section-heading vw20">Number of Nodes: {{ sp_num_nodes }}</div>
    </div>
    </div>
    {% endif %}

    <div class="section-heading">Logistic Regression</div>
    {% if not lr_accuracy %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="model_type" value="lr" class="upload-btn" id="train-lr">Train Logistic Regression on Penguins Dataset</button>
    </form>
    {% endif %}

    {% if lr_accuracy %}
    <div class="center">
        <div class="row">
            <div class="section-heading">Logistic Regression Accuracy: {{ lr_accuracy }}</div>
            <div class="section-heading">Number of Features used: {{ lr_num_features_used }}</div>
        </div>
    </div>
    {% endif %}

    <div class="section-heading">Sparse Logistic Regression</div>
    <form method="post" action="{% url 'project3:index' %}">
  {% csrf_token %}
  <div class="center">
    <label for="lr_lambda">Adjust Logistic Regression Model's Sparsity (λ):
    <br>
    <span class="info">Higher λ means fewer features used</span>
    </label>
    <div style="margin-top: 20px; display: flex; align-items: center; gap: 10px;">
  <span>1</span>
  <input type="range" name="lr_lambda" id="lr_lambda" style="width: 70vw;" min="0.01" max="400" step="0.01"
         value="{{ lr_lambda_value|default:5 }}" oninput='document.getElementById("lrlambdaValue").value = this.value'>
  <span>400</span>
  </div>
  <output id="lrlambdaValue">{{ lr_lambda_value|default:5 }}</output>
  </div>
  <br>
  <button type="submit" name="model_type" value="lr_sparse" class="upload-btn" id="train-sp-lr">Train Sparse Logistic Regression</button>
</form>

    {% if sp_lr_accuracy %}
    <div class="center">
        <div class="row">
            <div class="section-heading vw30">λ Value: {{ sp_lr_lambda_value }}</div>
            <div class="section-heading vw30">Number of Iterations: {{ sp_lr_iterations }}</div>
        </div>
        <div class="row">
            <div class="section-heading vw30">Sparse Logistic Regression Accuracy: {{ sp_lr_accuracy }}</div>
            <div class="section-heading vw30">Number of Features used: {{ sp_lr_num_features_used }}</div>
        </div>
    </div>
    {% endif %}

    <div class="section-heading">Counterfactual Explanations</div>
    <div class="block">
        <div id="train-first-overlay" class="train-first-overlay">
  <div class="train-first-message">
    <h2>Please Train the Decision Tree Model First</h2>
    <p>Click the "Train Regular Decision Tree on Penguins Dataset" button above to enable this section</p>
    <button onclick="document.getElementById('fit-dc-tree').click()">
      Click Here
    </button>
  </div>
</div>
    <form method="POST" id="counterfactual-form">
    {% csrf_token %}
     <div class="center left">
    <div style="margin-top: 20px;">
    <label for="example-select">Select Example:</label>
    <select id="example-select" name="example_index" required>
      <option value="" disabled selected>Select an example</option>
      {% for example in examples %}
        <option value="{{ example.index }}" 
                data-truelabel="{{ example.true_label }}" 
                data-features="{{ example.features|safe }}">
          #{{ example.index }} — Features: 
          {% for key, value in example.features.items %}
            {{ key }}={{ value }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </option>
      {% endfor %}
    </select>
    </div>

    <div style="margin-top: 20px;">
    <p>
      True Label: <span id="true-label-display" style="font-weight: bold;">--</span>
    </p>
    </div>

    <div style="margin-top: 20px;">
    <label for="target-label-select">Select Target Label (different from true label):</label>
    <select id="target-label-select" name="target_label" required>
      <option value="" selected>Select target label</option>
      {% for label in class_labels %}
        <option value="{{ label }}">{{ label }}</option>
      {% endfor %}
    </select>
    </div>

    <div style="margin-top: 20px;">
    <label for="topk">Select number of Counterfactual Explanations to generate:</label>
    <div style="margin-top: 20px; display: flex; align-items: center; gap: 10px;">
    <span>1</span>
    <input type="range" id="topk" name="topk" min="1" max="10" step="1"
           value="{{ topk|default:5 }}" style="width: 60vw;" oninput='document.getElementById("kValue").value = this.value'>
    <span>10</span>
    </div>
    <output id="kValue" style="display: block; text-align: center; margin-bottom: 2vw;">{{ topk|default:5 }}</output>
    </div>
</div>
    <button type="submit" name="model_type" value="counterfactual" class="upload-btn" id="gen-counter">Generate Counterfactuals</button>
  </form>
  </div>

  {% if counterfactuals %}
  <div class="center">
        <div class="row">
            <div class="section-heading vw72" style="font-size: medium;">Selected Example: {{ selected_example }}</div>
        </div>
        <div class="row">
            <div class="section-heading vw30" style="font-size: medium;">True Label: {{ true_label }}</div>
            <div class="section-heading vw30" style="font-size: medium;">Target Label: {{ target_label }}</div>
        </div>
    <div class="section-heading vw72" style="font-size: medium;">Top {{ counterfactuals|length }} Counterfactuals:</div>
    <table border="1" class="dataframe table" style="width: 74vw;">
      <thead>
        <tr>
          <th>S.No</th>
          {% for col in feature_names %}
            <th>{{ col }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in counterfactuals %}
          <tr>
            <td>{{ forloop.counter }}</td>
            {% for value in row %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% elif message%}
        <div class="section-heading" style="font-size: medium;">{{message}}</div>
    </div>
  {% endif %}
    </div>
    <script>
        const loadingDiv = document.getElementById("loading");
  const dotElement = document.getElementById("dot-animation");
  const loadingMsg = document.getElementById("loading-msg");
  const blockDiv = document.querySelector(".block");
   const dcButton = document.getElementById("fit-dc-tree");
   const overlay = document.getElementById("train-first-overlay");
   const isTrained = sessionStorage.getItem('modelTrained') == 'true';
  let dotInterval;

  if (isTrained){
    overlay.style.display = 'none';
  }
  function disableAllElements(container, shouldDisable) {
    // Get all form controls within the container
    const formControls = container.querySelectorAll(
      'select, option, p, span, output, label, input, textarea, [tabindex]'
    );
    
    formControls.forEach(element => {
      if (element.id !== "fit-dc-tree") {  // Don't disable the train button itself
        element.disabled = shouldDisable;
        
        // Optional: Add/remove blur class for visual effect
        if (shouldDisable) {
          element.classList.add('disabled-element');
        } else {
          element.classList.remove('disabled-element');
        }
      }
    });
  };

  if (dcButton && blockDiv && overlay && !isTrained) {

    overlay.style.display = 'flex';
    // Initially disable all interactive elements
    disableAllElements(blockDiv, true);
    
    dcButton.addEventListener("click", function() {
        overlay.style.display = 'none';
      // Enable all elements when train button is clicked
      disableAllElements(blockDiv, false);
      sessionStorage.setItem('modelTrained', 'true');
    });
  }

 
  if (dcButton) {
    dcButton.addEventListener("click", () => {
      loadingDiv.style.display = "flex";
      let dotCount = 1;
      dotInterval = setInterval(() => {
        dotCount = (dotCount % 3) + 1;
        dotElement.textContent = ".".repeat(dotCount);
      }, 500);
    });
  }

  const spButton = document.getElementById("fit-sp-tree");
  if (spButton) {
    spButton.addEventListener("click", () => {
      loadingDiv.style.display = "flex";
      loadingMsg.innerHTML = 'Sparse Decision Tree creation in progress<span id="dot-animation">.</span>';
      const dotElementL = document.getElementById("dot-animation");
      let dotCount = 1;
      dotInterval = setInterval(() => {
        dotCount = (dotCount % 3) + 1;
        dotElementL.textContent = ".".repeat(dotCount);
      }, 500);
    });
  }

  const lrButton = document.getElementById("train-lr");
  if (lrButton) {
    lrButton.addEventListener("click", () => {
      loadingDiv.style.display = "flex";
      loadingMsg.innerHTML = 'Logistic Regression Training in progress<span id="dot-animation">.</span>';
      const dotElementLR = document.getElementById("dot-animation");
      let dotCount = 1;
      dotInterval = setInterval(() => {
        dotCount = (dotCount % 3) + 1;
        dotElementLR.textContent = ".".repeat(dotCount);
      }, 500);
    });
  }

  const splrButton = document.getElementById("train-sp-lr");
  if (splrButton) {
    splrButton.addEventListener("click", () => {
      loadingDiv.style.display = "flex";
      loadingMsg.innerHTML = 'Sparse Logistic Regression Training in progress<span id="dot-animation">.</span>';
      const dotElementLRSP = document.getElementById("dot-animation");
      let dotCount = 1;
      dotInterval = setInterval(() => {
        dotCount = (dotCount % 3) + 1;
        dotElementLRSP.textContent = ".".repeat(dotCount);
      }, 500);
    });
  }

  const gencounterButton = document.getElementById("gen-counter");
  if (gencounterButton) {
    gencounterButton.addEventListener("click", () => {
      const topk = document.getElementById('topk');
      let k = topk.value;
      loadingDiv.style.display = "flex";
      loadingMsg.innerHTML = `Generation of ${k} best counterfactual examples in progress<span id="dot-animation">.</span>`;
      const dotElementc = document.getElementById("dot-animation");
      let dotCount = 1;
      dotInterval = setInterval(() => {
        dotCount = (dotCount % 3) + 1;
        dotElementc.textContent = ".".repeat(dotCount);
      }, 500);
    });
  }

  const exampleSelect = document.getElementById('example-select');
  const trueLabelDisplay = document.getElementById('true-label-display');
  const targetLabelSelect = document.getElementById('target-label-select');

  exampleSelect.addEventListener('change', function() {
    const selectedOption = this.options[this.selectedIndex];
    const trueLabel = selectedOption.getAttribute('data-truelabel');

    trueLabelDisplay.textContent = trueLabel;

    for (let opt of targetLabelSelect.options) {
      opt.disabled = false;
    }

    for (let opt of targetLabelSelect.options) {
      if (opt.value === trueLabel) {
        opt.disabled = true;
      }
    }

    targetLabelSelect.value = '';
  });
    </script>
</div>

{% endblock %}

{% block script %}
{% endblock script %}